.control-panel {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  margin-right: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  /* .control-panel {
    padding: 2px;
    display: block;
  } */
  .timer {
    margin-bottom: 8px;
  }
}
